{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url "photo_lab:index" %}">
        {% comment %} <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""> {% endcomment %}
        OpenCV Project
      </a>

      <ul class="nav  nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="{% url "landmark_detection:index" %}">Landmark detection</a>
            {% comment %} <a class="nav-link {% if view_name == 'pages:about' %} text-white {% endif %}" href="{% url 'pages:about' %}">
              О проекте
            </a> {% endcomment %}
          </li>
          <li class="nav-item">
            {% comment %} <a class="nav-link {% if view_name == 'pages:rules' %} text-white {% endif %}" href="{% url 'pages:rules' %}">
              Правила
            </a> {% endcomment %}
      </ul>      
    </div>
  </nav> 
</header>